<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Add New Product</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Product Name" formControlName="name">
            <mat-error *ngIf="productForm.controls['name'].hasError('required')">
              Product name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Base Cost" formControlName="baseCost">
            <mat-error *ngIf="productForm.controls['baseCost'].hasError('required')">
              Base Cost is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Additional Cost" formControlName="additionalCost">
            <mat-error *ngIf="productForm.controls['additionalCost'].hasError('required')">
              Additional Cost is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
        
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Type" formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['type'].hasError('required')">
              Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
         <div class="row" *ngIf="productForm.controls['type'].value == 2">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Included KWH" formControlName="includedKwh">
          </mat-form-field>
        </div>
      </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
