<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Add New Product</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Product Name" formControlName="name">
            <mat-error *ngIf="productForm.controls['name'].hasError('required')">
              Product name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Base Cost" formControlName="baseCost" id="baseCost">
            <span matTextPrefix>&euro; &nbsp;</span>
            <mat-error *ngIf="productForm.controls['baseCost'].hasError('required')">
              Base Cost is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Additional Kwh Cost" formControlName="additionalKwhCost" id="additionalKwhCost">
            <span matTextSuffix>cents &nbsp;</span>
            <mat-error *ngIf="productForm.controls['additionalKwhCost'].hasError('required')">
              Additional Kwh Cost is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
        
        <div class="col">
          <mat-form-field floatLabel="always" class="full-width">
            <mat-label>Product Type</mat-label>
            <mat-select placeholder="Type" formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['type'].hasError('required')">
              Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
         <div class="row" *ngIf="productForm.controls['type'].value == 2">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Included KWH" formControlName="includedKwh" id="type">
          </mat-form-field>
        </div>
      </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="productForm.invalid" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
